/* 全局樣式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-color: #FFFFFF;
    height: 100%;
}

/* 容器 */
.container {
    position: relative;
    max-width: 390px;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
}

/* 標題部分 */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px 20px;
    border-bottom: 1px solid #DDDDDD;
    z-index: 100;
    height: 60px; /* 明確定義 header 的高度 */
    box-sizing: border-box; /* 確保 padding 不會影響高度 */
}

.back-button {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.back-arrow {
    width: 30px;
    height: auto;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

/* 紀錄列表部分 */
.record-list {
    margin-top: 0px; /* 確保紀錄列表與 header 不會有空白 */
    padding: 20px;
    min-height: calc(100vh - 60px); /* 使用視窗高度來確保內容正確展示 */
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* 滾動條樣式 */
.record-list::-webkit-scrollbar {
    width: 8px;
}

.record-list::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
    border-radius: 10px;
}

.record-item {
    background-color: #F8F8F8;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

/* 觸摸或點擊的動畫效果 */
.record-item:active {
    transform: scale(0.98);
    background-color: #e0e0e0;
}

/* 狀態樣式：已入場為綠色，未入場為紅色 */
.entry-status {
    font-size: 17px;
    margin: 5px 0 0 0;
    font-weight: bold;
}

.entry-status.green {
    color: green; /* 已入場顯示為綠色 */
}

.entry-status.red {
<<<<<<< HEAD
    color: #D45251; /* 未入場顯示為紅色 */
=======
<<<<<<< HEAD
    color: #D45251; /* 未入場顯示為紅色 */
=======
    color: red; /* 未入場顯示為紅色 */
>>>>>>> d40fb90b736defc09d0bfd3a3b69387f7156fd2c
>>>>>>> bed520f134c245840b8f3775db2422e6360e79a9
}

.location {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.time {
    font-size: 14px;
    color: #979797;
    margin: 5px 0 0 0;
}
